@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');

body{
    font-family: 'Do Hyeon', sans-serif;
}
.font{
    font-family: 'Do Hyeon', sans-serif;
}
.root{
    flex-grow: 1;
}
.title{
    flex-grow: 1;
}
.navButton{
    text-decoration: none;
    color:white;
}
/* signin */
.paper {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    margin: 1rem;
    background-color: #f50057 !important;
}
.form {
    width: 100%;
    margin-top: 1rem
}
.submit {
    margin: 1rem 0rem 1rem !important;
}

/*detail*/
.author{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*vertical-align: middle !important;*/
}
.detailPaper{
    padding: 1rem 2rem 4rem
}